<!-- myapp/templates/add_person.html -->

{% extends 'base.html' %}

{% block title %}Ajouter une personne{% endblock %}

{% block content %}
    <h2>Ajouter une personne</h2>
    <form method="post", class="grid">

        {% csrf_token %}
        <div class="column">
            <label for="name">Nom</label>
            <input type="text" id="name" name="last_name" required><br><br>

            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="first_name" required><br><br>

            <label for="sexe">Sexe</label>
            <select id="sexe" name="sexe">
                <option value="homme">Homme</option>
                <option value="femme">Femme</option>
            </select><br><br>

            <label for="date_naissance">Date de Naissance</label>
            <input type="date" id="date_naissance" name="birth_date" required><br><br>

            <label for="contact">Contact</label>
            <input type="tel" id="contact" name="contact" required><br><br>
        </div>
        <!-- Deuxième colonne -->
        <div class="column">
            <label for="comite_de_base">Comité de base</label>
            <input type="text" id="base" name="base" required><br><br>
            <label for="section_de_base">Section</label>
            <input type="text" id="adresse" name="section" required><br><br>

            <label for="ville">Ville</label>
            <input type="text" id="ville" name="city" required><br><br>
            <label for="ville">Pays</label>
            <input type="text" id="pays" name="country" required><br><br>

            <input type="submit" value="Ajouter">
        </div>
    </form>

    {% if person_on_cei %}
        <p style="color: green;"> est inscrit(e) sur la liste électorale. <br>
        </p>

    {% endif %}
    {% if success %}
        <p class="success-message">La personne a été ajoutée avec succès.</p>
    {% endif %}
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% endif %}

    <a href="{% url 'search_person' %}", class="button">
        <button class="button_link">Retour à la recherche</button>
    </a>
{% endblock %}